/caculator1/nbproject/private/
/caculator1/build/
/calculator2/nbproject/private/
/calculator2/build/
/Equation1/nbproject/private/
/Equation1/build/
/method/nbproject/private/
/method/build/
/request-headers/nbproject/private/
/request-headers/build/
/calculator2/dist/
/welcome-files/nbproject/private/
/welcome-files/build/
/welcome-files/dist/
/mvc1/nbproject/private/
/mvc1/build/
/Question1/nbproject/private/
/Question1/build/
/mvc2/nbproject/private/
/mvc2/build/
/mvc2-equation1/nbproject/private/
/mvc2-equation1/build/
/WebApplication1/nbproject/private/
/mvc2-equation2/nbproject/private/
/mvc2-equation2/build/
/Question2/nbproject/private/
/Question2/build/
/Question1.1/nbproject/private/
/Question1.1/build/
/Clothes/nbproject/private/
/Clothes/build/
/layout/nbproject/private/
/layout/build/
/jdbc/nbproject/private/
/jdbc/build/
/jdbcfc (1)/jdbcfc/build/
/jdbcfc (1)/jdbcfc/nbproject/private/
/jdbcfc/build/
/jdbcfc/nbproject/private/
/Netbeans/OnlineShop/nbproject/private/
/Netbeans/OnlineShop/build/
/Netbeans/Exercise2.2/nbproject/private/
/Netbeans/Question2/nbproject/private/
/Netbeans/Exercise2.2/dist/
/Netbeans/Exercise2.2/build/