<div class="app-box__holder app-box__holder--active ng-scope app-status-running app-position-0" ng-class="['app-status-'+app.status, 'app-position-'+$index]" ng-mouseleave="reveal=false" ng-if="app.status == 'running'">
    <div class="app-box-holder__buttons">
        <div class="app-box__quick-links">
            <a href="#" ng-click="reveal=!reveal" class="app-box-quick-links__link ng-binding">Thao tác nhanh <i ng-show="!reveal" class="fa fa-chevron-down" aria-hidden="false" style=""></i><i ng-show="reveal" class="fa fa-chevron-up ng-hide" aria-hidden="true" style=""></i></a>
            <ul class="app-box-quick-links__list fadein fadeout ng-hide" ng-show="reveal" ng-mouseleave="reveal=false" aria-hidden="true" style="">
                <li><i class="fa fa-eye"></i> <a href="https://catmeo1.000webhostapp.com/" target="_blank" translate="" class="ng-scope">Xem trang web</a></li>
                <li ng-click="appInfoPopup(app, $event)" role="button" tabindex="0"><i class="fa fa-cog"></i> <span class="ng-binding">Thông Tin Chi tiết</span></li>
            </ul>
        </div>
        <button class="app-box__manage-button ng-binding" ng-click="goToApp(app)">Quản lý website</button>
    </div>

    <div class="app-box__info">

        <div class="app-box-holder__status-section flex flex-wrap">
            <div class="flex flex-col margin-bottom-10">
                <span class="app-box-holder__app-name short-name ng-binding">catmeo1</span>
                <div class="flex align-center">
                    <span class="zmdi zmdi-circle app-box-holder-status-section__icon app-box-holder-status-section__icon--active"></span>
                    <span class="app-box-holder-status-section__text ng-binding">Trạng thái</span>
                    <span class="app-box-holder-status-section__status app-box-holder-status-section__status--active ng-binding"> đang chạy</span>
                </div>
            </div>
            <button data-ng-click="openUpgradePopup('weblist_card')" id="000-panel-link_weblist_card" class="dash-button dash-button--full ng-binding">Nâng cấp</button>
        </div>
        <a class="app-box-holder__link short-name ng-binding" href="https://catmeo1.000webhostapp.com/" target="_blank">https://catmeo1.000webhostapp.com/</a>
    </div>
</div>